* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 600px;
}
.container .header {
  background: #f69517;
  padding: 15px 40px 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.container .header h2 {
  margin: 10px;
  font-size: 35px;
}
/* style the input */
input {
  width: 75%;
  float: left;
  border: none;
  outline: none;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
}
.addBtn {
  width: 25%;
  float: left;
  border: none;
  padding: 10px;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn:hover {
  background-color: #bbb;
}
/* clear floats after the header */
.container .header::after {
  content: "";
  display: table;
  clear: both;
}
